body::before {
    display: block;
    content: '';
    height: 60px;
}
#navbar {
    background-color: black !important;
}
#showcase {
    background-color: black !important;
}
.boxes {
    background-color: rgb(244, 244, 250);
}
#learn {
    background-color: black !important;
    color: #fff;
}
#learn .btn:hover {
    background-color: black;
    color: #fff;
    border: none;
}
@media (min-width: 768px) {
    .news-input{
        width: 50%;
    }
}